<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.song.sunset">

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- 二维码扫码所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- GL相关配置 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SunsetApplication"
        android:allowBackup="true"
        android:appComponentFactory="song"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activitys.temp.ServiceProviderActivity"></activity>
        <activity
            android:name=".activitys.FlutterComicActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/transparent" />
        </activity>
        <activity android:name=".activitys.temp.GlobalFlowActivity" />
        <activity android:name=".activitys.temp.MotionLayoutActivity" />
        <activity android:name=".activitys.temp.QRCodeActivity" />
        <activity android:name=".activitys.ComicDetailActivity" />
        <activity android:name=".activitys.opengl.render.RenderAirHockeyActivity" />
        <activity android:name=".activitys.opengl.render.RenderTextureActivity" />
        <activity android:name=".activitys.opengl.render.RenderFirstActivity" />
        <activity android:name=".activitys.opengl.render.Render3DActivity" />
        <activity android:name=".activitys.opengl.OpenGLListActivity" />
        <activity android:name=".activitys.temp.BilliardsActivity" />

        <activity
            android:name=".activitys.temp.NeuralNetWorksActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <activity android:name=".activitys.temp.DynamicProxyActivity" />
        <activity android:name=".activitys.temp.ReflectionActivity" />
        <activity android:name=".activitys.SchemeFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="song" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.FirstKotlinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensor" /> <!-- <activity -->
        <!-- android:name=".activitys.FirstActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activitys.MainKotlinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ComicReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VideoListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activitys.ScalePicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ComicListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.subscaleview.sample.SubScaleViewActivity" />
        <activity android:name="com.subscaleview.sample.animation.AnimationActivity" />
        <activity android:name="com.subscaleview.sample.basicfeatures.BasicFeaturesActivity" />
        <activity android:name="com.subscaleview.sample.configuration.ConfigurationActivity" />
        <activity android:name="com.subscaleview.sample.eventhandling.EventHandlingActivity" />
        <activity android:name="com.subscaleview.sample.eventhandlingadvanced.AdvancedEventHandlingActivity" />
        <activity android:name="com.subscaleview.sample.extension.ExtensionActivity" />
        <activity android:name="com.subscaleview.sample.viewpager.ViewPagerActivity" />
        <activity android:name="com.subscaleview.sample.imagedisplay.ImageDisplayActivity" />
        <activity android:name=".activitys.MediaPlayerActivity" />
        <activity android:name=".activitys.VideoViewActivity" />
        <activity android:name=".activitys.temp.TouchEventTestActivity" />
        <activity android:name=".activitys.temp.TempTestActivity" />
        <activity android:name=".activitys.ComicDetailMVPActivity" />
        <activity android:name=".activitys.temp.TransTestActivity" />
        <activity
            android:name=".activitys.ComicCollectionActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activitys.PhoenixNewsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activitys.PhoenixVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activitys.LocationMarkerActivity" />

        <activity android:name=".activitys.BasicMapActivity" />

        <activity
            android:name=".activitys.ComicReadMVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.temp.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activitys.RxJavaKotlinActivity"
            android:label="@string/title_activity_rx_java"
            android:theme="@style/AppTheme" /> <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <activity
            android:name=".activitys.temp.RxjavaActivity"
            android:label="@string/title_activity_rxjava"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activitys.temp.FrescoProcessorActivity"
            android:label="@string/title_activity_fresco_processor"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activitys.temp.FunctionListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme" />

        <activity android:name=".activitys.temp.FrescoXMLActivity" />

        <activity android:name=".activitys.opengl.teach.OpenGLTeachListActivity" />
        <activity android:name=".activitys.opengl.teach.TeachOneActivity" />
        <activity android:name=".activitys.opengl.teach.TeachTwoActivity" />
        <activity android:name="com.bubblepicker.BubbleActivity" />

        <activity android:name=".activitys.temp.LottieActivity" />
        <activity android:name=".activitys.temp.WorkManagerActivity" />
        <activity
            android:name=".activitys.temp.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activitys.temp.CenteredImageSpanActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1b85142155dba7f4c7f243bfd78cb7c4" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <provider
            android:name=".providers.BookProvider"
            android:authorities="com.song.sunset.providers.bookprovider"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".receivers.SunsetWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.song.sunset.intent.action.APP_WIDGET_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sunset_widget_info" />
        </receiver>
        <service
            android:name=".widget.neural.NeuralWallPaperService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>
        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".services.PushService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".services.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".services.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <!--
 Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java
        -->
        <service
            android:name=".services.MusicGetterService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>